@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@layer components {
  .card {
    @apply rounded-xl bg-white
  }
}

/* sidebar customization start */
.sidebar-component {
  @apply max-w-[260px] h-screen min-w-[52px]
}

.sidebar-menu-title {
  padding: 15px 30px 15px 30px;
}

.sidebar-menu-list-expand {
  margin: auto 14px;
  gap: 8px;
  padding: 9px 16px 9px 16px;
}

.sidebar-menu-list-collapse {
  margin: auto 8px;
  padding: 6px 8px 6px 8px;
  @apply gap-0
}

.sidebar-header-wrapper-expand {
  padding: 20px 14px 20px 18px;
}

.sidebar-header-wrapper-collapse {
  padding: 20px 14px 20px 18px;
}

/* sidebar customization ends */

/* Header customization starts */
.header-wrapper {
  height: 62px;
  padding: 12px 0px 12px 0px;
  @apply border border-red-500 flex justify-between items-center
}

.header-title {
  @apply font-bold text-md sm:text-xl transition-all
}

/* Header customization ends */

/* Main content customization ends */
.main-section-wrapper {
  @apply bg-background w-full px-[26px] py-[8px]
}